[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = 2.8
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = scarthgap
[submodule "meta-xilinx-tools"]
	path = meta-xilinx-tools
	url = https://github.com/Xilinx/meta-xilinx-tools.git
	branch = scarthgap
[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
	branch = scarthgap
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = scarthgap
[submodule "meta-amd-adaptive-socs"]
	path = meta-amd-adaptive-socs
	url = https://github.com/Xilinx/meta-amd-adaptive-socs.git
	branch = scarthgap
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
	branch = scarthgap
[submodule "meta-openamp"]
	path = meta-openamp
	url = https://github.com/Xilinx/meta-openamp.git
	branch = rel-v2024.2
[submodule "pyrex"]
	path = pyrex
	url = https://github.com/garmin/pyrex.git
[submodule "gen-machine-conf"]
	path = gen-machine-conf
	url = git@github.com:Xilinx/gen-machine-conf.git
	branch = xlnx_rel_v2025.1
